<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="row mt-1 justify-content-center">
                <div style="margin-right: 20%" class="col-10">
                    <div class="row">
                        <!-- something here -->
                    </div>
                </div>
            </div>
            <div class="row mt-1 justify-content-center">
                <div class="col-12" style="margin-right: 30%">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <app-map [markersLen]="5"></app-map>                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2 mb-2 justify-content-center">
                <div class="col-12" style="margin-right: 25%">
                    <div style="margin-right: 0%" class="row">
                        <div class="col-3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row mt-1 justify-content-center"></div>
            <div class="row mt-5 justify-content-center">
                <div class="col-12">
                    <!-- Selectbox for (Multiple Routes / One Route) -->
                </div>
            </div>
            <div class="row mt-2 mb-2 justify-content-center">
                <!-- <select name="" id="">
                    <option value="Multiple Routes">Multiple Routes</option>
                    <option value="Multiple Routes">One Route</option>
                </select> -->
            </div>
        </div>
    </div>
</div>